<p id="notice"><%= notice %></p>

<p>
  <strong>Vineyard name:</strong>
  <%= @vineyard.vineyard_name %>
</p>

<%= link_to 'Edit', edit_vineyard_path(@vineyard) %> |
<%= link_to 'Back', vineyards_path %>
